@charset "utf-8";

@font-face {
    font-family: 'Noto Sans';
    font-weight: 700;
    src: local("※"),
    url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 500;
    src: local("※"),
    url('../fonts/NotoSans-Medium.woff2') format('woff2'),
    url('../fonts/NotoSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 400;
    src: local("※"),
    url('../fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../fonts/NotoSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 300;
    src: local("※"),
    url('../fonts/NotoSans-Light.woff2') format('woff2'),
    url('../fonts/NotoSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'element-icons';
    font-weight: 400;
    src: local("※"),
    url('../fonts/element-icons.woff') format('woff2'),
    url('../fonts/element-icons.woff') format('woff');
}

*{box-sizing:border-box;margin:0;padding:0}
html{-webkit-text-size-adjust:none}
body{min-width:1880px;line-height:1.5;background: #f5f6f7;font-family:Noto Sans,Dotum;font-size:14px;font-weight:300;word-break:keep-all;color:#666;}
h1,h2,h3,h4,h5,h6{line-height:normal;font-weight:normal}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#666}
a:hover,a:active,a:visited{text-decoration:none}
img{border:0;vertical-align:top}
button{border:0;background-color:transparent;vertical-align:top;cursor:pointer;font-family:inherit;font-size:inherit;font-weight:300}
input[type=text],input[type=search],input[type=password],select{box-sizing:border-box;padding:0 7px;border:1px solid #d7d7d7;background-color:#fff;vertical-align:top;font-family:inherit;font-weight:300;color:#666}
textarea{width:100%;padding:5px;border:1px solid #d7d7d7;vertical-align:top;font-family:inherit;font-weight:300;resize:none;font-size:13px}
em,address{font-style:normal}
table{width:100%;table-layout:fixed;border-collapse:collapse;font-size:13px}
table th{font-weight: 400;font-size:14px}
caption{width:0;height:0;line-height:0;font-size:0;color:transparent}
label{vertical-align:top;cursor:pointer}
input[type=text],input[type=password],select, textarea{border-radius:4px;-webkit-appearance:none;box-sizing:border-box}
input[type=text]{height:32px}
input[readonly]{background: #f4f4f4;}
input[disabled]{background-color: #F5F7FA;border-color: #E4E7ED;color: #C0C4CC;cursor: not-allowed}
input[type=checkbox],input[type=radio]{vertical-align:middle}
main{display:block}
strong{color:#333}
select{height:32px;padding: 0 35px 0 15px;background-position: calc(100% - 10px) 50%;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAANklEQVQYV2NMS0v7P2vWLEYGHAAkzwgiQPLYFMLkwCZgU4gsBrcGWRBdE4pbYJLo1mM4GJtHABQNJGmJvT6rAAAAAElFTkSuQmCC);background-repeat: no-repeat;}
select::-ms-expand{display:none}
::selection{background:#92cfe7}
::placeholder{font-size:13px !important;color:#999 !important}
:-ms-input-placeholder{color:#999 !important}
::-ms-input-placeholder{color:#999 !important}
.ie9 select{padding-right:0;background-image:none !important}
.el-icon-ice-cream-round:before {
    content: "\e6a0"
}.el-icon-ice-cream-square:before {
    content: "\e6a3"
}.el-icon-lollipop:before {
    content: "\e6a4"
}.el-icon-potato-strips:before {
    content: "\e6a5"
}.el-icon-milk-tea:before {
    content: "\e6a6"
}.el-icon-ice-drink:before {
    content: "\e6a7"
}.el-icon-ice-tea:before {
    content: "\e6a9"
}.el-icon-coffee:before {
    content: "\e6aa"
}.el-icon-orange:before {
    content: "\e6ab"
}.el-icon-pear:before {
    content: "\e6ac"
}.el-icon-apple:before {
    content: "\e6ad"
}.el-icon-cherry:before {
    content: "\e6ae"
}.el-icon-watermelon:before {
    content: "\e6af"
}.el-icon-grape:before {
    content: "\e6b0"
}.el-icon-refrigerator:before {
    content: "\e6b1"
}.el-icon-goblet-square-full:before {
    content: "\e6b2"
}.el-icon-goblet-square:before {
    content: "\e6b3"
}.el-icon-goblet-full:before {
    content: "\e6b4"
}.el-icon-goblet:before {
    content: "\e6b5"
}.el-icon-cold-drink:before {
    content: "\e6b6"
}.el-icon-coffee-cup:before {
    content: "\e6b8"
}.el-icon-water-cup:before {
    content: "\e6b9"
}.el-icon-hot-water:before {
    content: "\e6ba"
}.el-icon-ice-cream:before {
    content: "\e6bb"
}.el-icon-dessert:before {
    content: "\e6bc"
}.el-icon-sugar:before {
    content: "\e6bd"
}.el-icon-tableware:before {
    content: "\e6be"
}.el-icon-burger:before {
    content: "\e6bf"
}.el-icon-knife-fork:before {
    content: "\e6c1"
}.el-icon-fork-spoon:before {
    content: "\e6c2"
}.el-icon-chicken:before {
    content: "\e6c3"
}.el-icon-food:before {
    content: "\e6c4"
}.el-icon-dish-1:before {
    content: "\e6c5"
}.el-icon-dish:before {
    content: "\e6c6"
}.el-icon-moon-night:before {
    content: "\e6ee"
}.el-icon-moon:before {
    content: "\e6f0"
}.el-icon-cloudy-and-sunny:before {
    content: "\e6f1"
}.el-icon-partly-cloudy:before {
    content: "\e6f2"
}.el-icon-cloudy:before {
    content: "\e6f3"
}.el-icon-sunny:before {
    content: "\e6f6"
}.el-icon-sunset:before {
    content: "\e6f7"
}.el-icon-sunrise-1:before {
    content: "\e6f8"
}.el-icon-sunrise:before {
    content: "\e6f9"
}.el-icon-heavy-rain:before {
    content: "\e6fa"
}.el-icon-lightning:before {
    content: "\e6fb"
}.el-icon-light-rain:before {
    content: "\e6fc"
}.el-icon-wind-power:before {
    content: "\e6fd"
}.el-icon-baseball:before {
    content: "\e712"
}.el-icon-soccer:before {
    content: "\e713"
}.el-icon-football:before {
    content: "\e715"
}.el-icon-basketball:before {
    content: "\e716"
}.el-icon-ship:before {
    content: "\e73f"
}.el-icon-truck:before {
    content: "\e740"
}.el-icon-bicycle:before {
    content: "\e741"
}.el-icon-mobile-phone:before {
    content: "\e6d3"
}.el-icon-service:before {
    content: "\e6d4"
}.el-icon-key:before {
    content: "\e6e2"
}.el-icon-unlock:before {
    content: "\e6e4"
}.el-icon-lock:before {
    content: "\e6e5"
}.el-icon-watch:before {
    content: "\e6fe"
}.el-icon-watch-1:before {
    content: "\e6ff"
}.el-icon-timer:before {
    content: "\e702"
}.el-icon-alarm-clock:before {
    content: "\e703"
}.el-icon-map-location:before {
    content: "\e704"
}.el-icon-delete-location:before {
    content: "\e705"
}.el-icon-add-location:before {
    content: "\e706"
}.el-icon-location-information:before {
    content: "\e707"
}.el-icon-location-outline:before {
    content: "\e708"
}.el-icon-location:before {
    content: "\e79e"
}.el-icon-place:before {
    content: "\e709"
}.el-icon-discover:before {
    content: "\e70a"
}.el-icon-first-aid-kit:before {
    content: "\e70b"
}.el-icon-trophy-1:before {
    content: "\e70c"
}.el-icon-trophy:before {
    content: "\e70d"
}.el-icon-medal:before {
    content: "\e70e"
}.el-icon-medal-1:before {
    content: "\e70f"
}.el-icon-stopwatch:before {
    content: "\e710"
}.el-icon-mic:before {
    content: "\e711"
}.el-icon-copy-document:before {
    content: "\e718"
}.el-icon-full-screen:before {
    content: "\e719"
}.el-icon-switch-button:before {
    content: "\e71b"
}.el-icon-aim:before {
    content: "\e71c"
}.el-icon-crop:before {
    content: "\e71d"
}.el-icon-odometer:before {
    content: "\e71e"
}.el-icon-time:before {
    content: "\e71f"
}.el-icon-bangzhu:before {
    content: "\e724"
}.el-icon-close-notification:before {
    content: "\e726"
}.el-icon-microphone:before {
    content: "\e727"
}.el-icon-turn-off-microphone:before {
    content: "\e728"
}.el-icon-position:before {
    content: "\e729"
}.el-icon-postcard:before {
    content: "\e72a"
}.el-icon-message:before {
    content: "\e72b"
}.el-icon-chat-line-square:before {
    content: "\e72d"
}.el-icon-chat-dot-square:before {
    content: "\e72e"
}.el-icon-chat-dot-round:before {
    content: "\e72f"
}.el-icon-chat-square:before {
    content: "\e730"
}.el-icon-chat-line-round:before {
    content: "\e731"
}.el-icon-chat-round:before {
    content: "\e732"
}.el-icon-set-up:before {
    content: "\e733"
}.el-icon-turn-off:before {
    content: "\e734"
}.el-icon-open:before {
    content: "\e735"
}.el-icon-connection:before {
    content: "\e736"
}.el-icon-link:before {
    content: "\e737"
}.el-icon-cpu:before {
    content: "\e738"
}.el-icon-thumb:before {
    content: "\e739"
}.el-icon-female:before {
    content: "\e73a"
}.el-icon-male:before {
    content: "\e73b"
}.el-icon-guide:before {
    content: "\e73c"
}.el-icon-news:before {
    content: "\e73e"
}.el-icon-price-tag:before {
    content: "\e744"
}.el-icon-discount:before {
    content: "\e745"
}.el-icon-wallet:before {
    content: "\e747"
}.el-icon-coin:before {
    content: "\e748"
}.el-icon-money:before {
    content: "\e749"
}.el-icon-bank-card:before {
    content: "\e74a"
}.el-icon-box:before {
    content: "\e74b"
}.el-icon-present:before {
    content: "\e74c"
}.el-icon-sell:before {
    content: "\e6d5"
}.el-icon-sold-out:before {
    content: "\e6d6"
}.el-icon-shopping-bag-2:before {
    content: "\e74d"
}.el-icon-shopping-bag-1:before {
    content: "\e74e"
}.el-icon-shopping-cart-2:before {
    content: "\e74f"
}.el-icon-shopping-cart-1:before {
    content: "\e750"
}.el-icon-shopping-cart-full:before {
    content: "\e751"
}.el-icon-smoking:before {
    content: "\e752"
}.el-icon-no-smoking:before {
    content: "\e753"
}.el-icon-house:before {
    content: "\e754"
}.el-icon-table-lamp:before {
    content: "\e755"
}.el-icon-school:before {
    content: "\e756"
}.el-icon-office-building:before {
    content: "\e757"
}.el-icon-toilet-paper:before {
    content: "\e758"
}.el-icon-notebook-2:before {
    content: "\e759"
}.el-icon-notebook-1:before {
    content: "\e75a"
}.el-icon-files:before {
    content: "\e75b"
}.el-icon-collection:before {
    content: "\e75c"
}.el-icon-receiving:before {
    content: "\e75d"
}.el-icon-suitcase-1:before {
    content: "\e760"
}.el-icon-suitcase:before {
    content: "\e761"
}.el-icon-film:before {
    content: "\e763"
}.el-icon-collection-tag:before {
    content: "\e765"
}.el-icon-data-analysis:before {
    content: "\e766"
}.el-icon-pie-chart:before {
    content: "\e767"
}.el-icon-data-board:before {
    content: "\e768"
}.el-icon-data-line:before {
    content: "\e76d"
}.el-icon-reading:before {
    content: "\e769"
}.el-icon-magic-stick:before {
    content: "\e76a"
}.el-icon-coordinate:before {
    content: "\e76b"
}.el-icon-mouse:before {
    content: "\e76c"
}.el-icon-brush:before {
    content: "\e76e"
}.el-icon-headset:before {
    content: "\e76f"
}.el-icon-umbrella:before {
    content: "\e770"
}.el-icon-scissors:before {
    content: "\e771"
}.el-icon-mobile:before {
    content: "\e773"
}.el-icon-attract:before {
    content: "\e774"
}.el-icon-monitor:before {
    content: "\e775"
}.el-icon-search:before {
    content: "\e778"
}.el-icon-takeaway-box:before {
    content: "\e77a"
}.el-icon-paperclip:before {
    content: "\e77d"
}.el-icon-printer:before {
    content: "\e77e"
}.el-icon-document-add:before {
    content: "\e782"
}.el-icon-document:before {
    content: "\e785"
}.el-icon-document-checked:before {
    content: "\e786"
}.el-icon-document-copy:before {
    content: "\e787"
}.el-icon-document-delete:before {
    content: "\e788"
}.el-icon-document-remove:before {
    content: "\e789"
}.el-icon-tickets:before {
    content: "\e78b"
}.el-icon-folder-checked:before {
    content: "\e77f"
}.el-icon-folder-delete:before {
    content: "\e780"
}.el-icon-folder-remove:before {
    content: "\e781"
}.el-icon-folder-add:before {
    content: "\e783"
}.el-icon-folder-opened:before {
    content: "\e784"
}.el-icon-folder:before {
    content: "\e78a"
}.el-icon-edit-outline:before {
    content: "\e764"
}.el-icon-edit:before {
    content: "\e78c"
}.el-icon-date:before {
    content: "\e78e"
}.el-icon-c-scale-to-original:before {
    content: "\e7c6"
}.el-icon-view:before {
    content: "\e6ce"
}.el-icon-loading:before {
    content: "\e6cf"
}.el-icon-rank:before {
    content: "\e6d1"
}.el-icon-sort-down:before {
    content: "\e7c4"
}.el-icon-sort-up:before {
    content: "\e7c5"
}.el-icon-sort:before {
    content: "\e6d2"
}.el-icon-finished:before {
    content: "\e6cd"
}.el-icon-refresh-left:before {
    content: "\e6c7"
}.el-icon-refresh-right:before {
    content: "\e6c8"
}.el-icon-refresh:before {
    content: "\e6d0"
}.el-icon-video-play:before {
    content: "\e7c0"
}.el-icon-video-pause:before {
    content: "\e7c1"
}.el-icon-d-arrow-right:before {
    content: "\e6dc"
}.el-icon-d-arrow-left:before {
    content: "\e6dd"
}.el-icon-arrow-up:before {
    content: "\e6e1"
}.el-icon-arrow-down:before {
    content: "\e6df"
}.el-icon-arrow-right:before {
    content: "\e6e0"
}.el-icon-arrow-left:before {
    content: "\e6de"
}.el-icon-top-right:before {
    content: "\e6e7"
}.el-icon-top-left:before {
    content: "\e6e8"
}.el-icon-top:before {
    content: "\e6e6"
}.el-icon-bottom:before {
    content: "\e6eb"
}.el-icon-right:before {
    content: "\e6e9"
}.el-icon-back:before {
    content: "\e6ea"
}.el-icon-bottom-right:before {
    content: "\e6ec"
}.el-icon-bottom-left:before {
    content: "\e6ed"
}.el-icon-caret-top:before {
    content: "\e78f"
}.el-icon-caret-bottom:before {
    content: "\e790"
}.el-icon-caret-right:before {
    content: "\e791"
}.el-icon-caret-left:before {
    content: "\e792"
}.el-icon-d-caret:before {
    content: "\e79a"
}.el-icon-share:before {
    content: "\e793"
}.el-icon-menu:before {
    content: "\e798"
}.el-icon-s-grid:before {
    content: "\e7a6"
}.el-icon-s-check:before {
    content: "\e7a7"
}.el-icon-s-data:before {
    content: "\e7a8"
}.el-icon-s-opportunity:before {
    content: "\e7aa"
}.el-icon-s-custom:before {
    content: "\e7ab"
}.el-icon-s-claim:before {
    content: "\e7ad"
}.el-icon-s-finance:before {
    content: "\e7ae"
}.el-icon-s-comment:before {
    content: "\e7af"
}.el-icon-s-flag:before {
    content: "\e7b0"
}.el-icon-s-marketing:before {
    content: "\e7b1"
}.el-icon-s-shop:before {
    content: "\e7b4"
}.el-icon-s-open:before {
    content: "\e7b5"
}.el-icon-s-management:before {
    content: "\e7b6"
}.el-icon-s-ticket:before {
    content: "\e7b7"
}.el-icon-s-release:before {
    content: "\e7b8"
}.el-icon-s-home:before {
    content: "\e7b9"
}.el-icon-s-promotion:before {
    content: "\e7ba"
}.el-icon-s-operation:before {
    content: "\e7bb"
}.el-icon-s-unfold:before {
    content: "\e7bc"
}.el-icon-s-fold:before {
    content: "\e7a9"
}.el-icon-s-platform:before {
    content: "\e7bd"
}.el-icon-s-order:before {
    content: "\e7be"
}.el-icon-s-cooperation:before {
    content: "\e7bf"
}.el-icon-bell:before {
    content: "\e725"
}.el-icon-message-solid:before {
    content: "\e799"
}.el-icon-video-camera:before {
    content: "\e772"
}.el-icon-video-camera-solid:before {
    content: "\e796"
}.el-icon-camera:before {
    content: "\e779"
}.el-icon-camera-solid:before {
    content: "\e79b"
}.el-icon-download:before {
    content: "\e77c"
}.el-icon-upload2:before {
    content: "\e77b"
}.el-icon-upload:before {
    content: "\e7c3"
}.el-icon-picture-outline-round:before {
    content: "\e75f"
}.el-icon-picture-outline:before {
    content: "\e75e"
}.el-icon-picture:before {
    content: "\e79f"
}.el-icon-close:before {
    content: "\e6db"
}.el-icon-check:before {
    content: "\e6da"
}.el-icon-plus:before {
    content: "\e6d9"
}.el-icon-minus:before {
    content: "\e6d8"
}.el-icon-help:before {
    content: "\e73d"
}.el-icon-s-help:before {
    content: "\e7b3"
}.el-icon-circle-close:before {
    content: "\e78d"
}.el-icon-circle-check:before {
    content: "\e720"
}.el-icon-circle-plus-outline:before {
    content: "\e723"
}.el-icon-remove-outline:before {
    content: "\e722"
}.el-icon-zoom-out:before {
    content: "\e776"
}.el-icon-zoom-in:before {
    content: "\e777"
}.el-icon-error:before {
    content: "\e79d"
}.el-icon-success:before {
    content: "\e79c"
}.el-icon-circle-plus:before {
    content: "\e7a0"
}.el-icon-remove:before {
    content: "\e7a2"
}.el-icon-info:before {
    content: "\e7a1"
}.el-icon-question:before {
    content: "\e7a4"
}.el-icon-warning-outline:before {
    content: "\e6c9"
}.el-icon-warning:before {
    content: "\e7a3"
}.el-icon-goods:before {
    content: "\e7c2"
}.el-icon-s-goods:before {
    content: "\e7b2"
}.el-icon-star-off:before {
    content: "\e717"
}.el-icon-star-on:before {
    content: "\e797"
}.el-icon-more-outline:before {
    content: "\e6cc"
}.el-icon-more:before {
    content: "\e794"
}.el-icon-phone-outline:before {
    content: "\e6cb"
}.el-icon-phone:before {
    content: "\e795"
}.el-icon-user:before {
    content: "\e6e3"
}.el-icon-user-solid:before {
    content: "\e7a5"
}.el-icon-setting:before {
    content: "\e6ca"
}.el-icon-s-tools:before {
    content: "\e7ac"
}.el-icon-delete:before {
    content: "\e6d7"
}.el-icon-delete-solid:before {
    content: "\e7c9"
}.el-icon-eleme:before {
    content: "\e7c7"
}.el-icon-platform-eleme:before {
    content: "\e7ca"
}.el-icon-loading {
    -webkit-animation: rotating 2 s linear infinite;
    animation: rotating 2 s linear infinite
}.el-icon--right {
    margin-left: 5 px
}.el-icon--left {
    margin-right: 5 px
}
[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.el-button {
    border: 1px solid #C3C3C3;
}
.el-button--mini, .el-button--mini.is-round {
    padding: 7px 15px;
}
.el-button--mini, .el-button--small {
    font-size: 12px;
    border-radius: 3px;
}
.el-button--primary.is-plain {
    color: #409EFF;
    background: #ecf5ff;
    border-color: #b3d8ff;
}
.el-button--small {
    font-size: 13px;
}
.el-button--small, .el-button--small.is-round {
    padding: 9px 15px;
}
.el-button [class*=el-icon-]+span {
    margin-left: 5px;
}
.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    background: #409EFF;
    border-color: #409EFF;
    color: #FFF;
}
.el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
    background-color: #FFF;
    border-color: #EBEEF5;
    color: #C0C4CC;
}
.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    color: #C0C4CC;
    cursor: not-allowed;
    background-image: none;
    background-color: #FFF;
    border-color: #EBEEF5;
}
button:disabled, button[disabled] {
    border: 1px solid #C3C3C3 !important;
    background-color: #E0E0E0 !important;
    color: #A3A3A3 !important;
}
.el-button+.el-button {
    margin-left: 10px;
}
.el-button.is-plain:focus, .el-button.is-plain:hover {
    background: #FFF;
    border-color: #409EFF;
    color: #409EFF;
}
.el-input__inner:hover {
    border-color: #C0C4CC;
}

.el-radio {
    color: #606266;
    cursor: pointer;
    margin-right: 30px;
}
.el-radio {
    margin-right: 10px;
}
.el-radio, .el-radio__input {
    line-height: 1;
    outline: 0;
    white-space: nowrap;
}
.el-radio, .el-radio__inner, .el-radio__input {
    position: relative;
    display: inline-block;
}
.el-radio__input {
    cursor: pointer;
    vertical-align: middle;
}
.el-radio__inner {
    border: 1px solid #DCDFE6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #FFF;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #409EFF;
    background: #409EFF;
}
.el-radio__original {
    position:absolute;left:-1000%;width:0;height:0;line-height:0;font-size:0;color:transparent
}
.el-radio__label {
    font-size: 14px;
    padding-left: 3px;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #409EFF;
}
.el-radio__inner::after {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #FFF;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%) scale(0);
    transform: translate(-50%,-50%) scale(0);
    -webkit-transition: -webkit-transform .15s ease-in;
    transition: -webkit-transform .15s ease-in;
    transition: transform .15s ease-in;
    transition: transform .15s ease-in,-webkit-transform .15s ease-in;
}
.el-radio__original:checked + label .el-radio__inner{
    border-color: #409EFF;
    background: #409EFF;
}
.el-radio__original:checked + label .el-radio__inner::after{
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
}
.is-disabled .el-input__inner {
    background-color: #F5F7FA;
    border-color: #E4E7ED;
    color: #C0C4CC;
    cursor: not-allowed;
}
.el-radio-button__inner {
    white-space: nowrap;
    background: #FFF;
    border: 1px solid #DCDFE6;
    font-weight: 500;
    border-left: 0;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 0;
}
.el-radio-button--small .el-radio-button__inner {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 0;
}
.el-radio-button:first-child .el-radio-button__inner {
    border-left: 1px solid #DCDFE6;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.el-radio-button__orig-radio {
    opacity: 0;
    outline: 0;
    position: absolute;
    z-index: -1;
}

.gen-check > span:last-child .el-radio-button__inner {
    border-radius: 0 4px 4px 0;
}

.gen-check > span:first-child .el-radio-button__inner {
    z-index: 100;
    border-left: 1px solid #DCDFE6;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.el-radio-button__orig-radio:checked + label .el-radio-button__inner {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
    -webkit-box-shadow: -1px 0 0 0 #409EFF;
    box-shadow: -1px 0 0 0 #409EFF;
}
.el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
    background: #409EFF;
    border-color: #409EFF;
    color: #FFF;
}
.el-button--success.is-plain {
    color: #67C23A;
    background: #f0f9eb;
    border-color: #c2e7b0;
}
.el-button--success.is-plain:focus, .el-button--success.is-plain:hover {
    background: #67C23A;
    border-color: #67C23A;
    color: #FFF;
}
.el-button--warning.is-plain {
    color: #E6A23C;
    background: #fdf6ec;
    border-color: #f5dab1;
}
.el-button--warning.is-plain:focus, .el-button--warning.is-plain:hover {
    background: #E6A23C;
    border-color: #E6A23C;
    color: #FFF;
}
.el-button:focus, .el-button:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
.el-tabs__header {
    padding: 0;
    position: relative;
    margin: 0 0 15px;
}
.el-tabs__header {
    background-color: #F5F7FA;
    border-bottom: 1px solid #E4E7ED;
    margin: 0;
}
.el-tabs__nav-wrap {
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;
}
.el-tabs__nav-scroll {
    overflow: hidden;
}
.el-collapse-item__arrow, .el-tabs__nav {
    -webkit-transition: -webkit-transform .3s;
}
.el-tabs__nav {
    white-space: nowrap;
    position: relative;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    float: left;
    z-index: 2;
}
.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #303133;
    position: relative;
    cursor: pointer;
}
.el-tabs__item.is-active {
    color: #409EFF;
}
.el-tabs__header .el-tabs__item {
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    border: 1px solid transparent;
    margin-top: -1px;
    color: #909399;
}
.el-tabs__header .el-tabs__item+.el-tabs__item, .el-tabs__header .el-tabs__item:first-child {
    margin-left: -1px;
}
.el-tabs__header .el-tabs__item.is-active {
    color: #409EFF;
    background-color: #FFF;
    border-right-color: #DCDFE6;
    border-left-color: #DCDFE6;
}
.el-tabs__header .el-tabs__item+.el-tabs__item, .el-tabs__header .el-tabs__item:first-child {
    margin-left: -1px;
}
.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
    padding-left: 0;
}
.el-tabs--bottom .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--bottom.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--left>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top .el-tabs--right>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top.el-tabs--card>.el-tabs__header .el-tabs__item:nth-child(2) {
    padding-left: 20px;
}
.el-button--danger.is-plain:focus, .el-button--danger.is-plain:hover {
    background: #F56C6C;
    border-color: #F56C6C;
    color: #FFF;
}
.el-button--danger.is-plain:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #FFF;
    outline: 0;
}
.el-button--danger.is-plain {
    color: #F56C6C;
    background: #fef0f0;
    border-color: #fbc4c4;
}
.el-alert {
    width: 100%;
    padding: 8px 16px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    background-color: #FFF;
    overflow: hidden;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
.el-alert--info.is-light {
    background-color: #f4f4f5;
    color: #909399;
}
.el-alert__icon {
    font-size: 16px;
    width: 16px;
}
.el-alert__content {
    display: table-cell;
    padding: 0 8px;
}
.el-alert__title {
    font-size: 13px;
    line-height: 18px;
}
.el-dropdown-menu {

    padding: 10px 0;
    margin: 5px 0;
    background-color: #FFF;
    border: 1px solid #EBEEF5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.el-dropdown-menu__item {
    list-style: none;
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    outline: 0;
}
.el-popper .popper__arrow, .el-popper .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.el-popper .popper__arrow {
    border-width: 6px;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
}
.el-dropdown-menu__item i {
    margin-right: 5px;
}

button, a{outline: 0;}


.blind{position:absolute;left:-1000%;width:0;height:0;line-height:0;font-size:0;color:transparent}
#header{position:fixed;left:0;top:0;width:100%;min-width:1083px;z-index:1000;height:53px;padding:0 20px;background:#126A83}
#header:after{display: block;content: '';clear: both;}
#header .l{float: left;width: 78px;padding-top:13px}
#header .l>button{display: inline-block;padding:6px 6px 0 6px;border: 1px solid #C3C3C3;border-radius:3px;background:#fff}
#header .l>button>img{width: 18px;}
#header .c{float: left;}
#header .c>ul{overflow: hidden;}
#header .c>ul>li{float: left;margin: 0 20px;}
#header .c a{display:block;height:53px;line-height:53px;font-size:17px;color: #fff;}
#header .c .on{color:#03c75a}

#header .r{float: right;position:relative;padding-top:12px}
#header .r>.f{display:inline-block;color: #a3cb28;position: relative;}
#header .r>.s{display:inline-block;margin-left: 20px;}
#header .r .pwd-layer{display:none;position: absolute;left:-72px;top:20px;width: 147px;}
#header .r .pwd-layer:before{display: block;content: '';position:absolute;left:90px;top:0;width: 0px;height: 0px;border-top:10px solid none;border-bottom:10px solid #fff;border-right: 10px solid transparent;border-left: 10px solid  transparent;}


.pw-fadeInDown {
    animation-name: pw-fadeInDown;
    animation-duration: .5s;

    animation-direction: normal ;
    animation-fill-mode:both
  }

.pw-fadeInUp {
    animation-name: pw-fadeInUp;
    animation-duration: .4s;

    animation-direction: normal ;
    animation-fill-mode:both
}


.side-menu-wrap{position:fixed;left:-300px;top:0;z-index:10000;width:220px;height:100%;transition: left .5s ease;-webkit-transition: left .5s ease;}
.side-menu-wrap.open .dim{display: block;content: '';position: fixed;left: 0;top: 0;width: 100%;height: 100%;background:rgba(0,0,0,.5)}
.side-menu-wrap.open{left: 0;}
.side-menu.open{left: 0;}

.side-menu{position: relative;width:220px;height:100%;box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);background:#fff;}
.sd-top{position:relative;padding: 13px 20px 13px 20px;background: #E8E8E8;border-bottom: 1px solid #CCC;}
.sd-top > span{font-size:17px;font-weight:500;color:#333}
.sd-top > button{position:absolute;right:0;top:0;width:60px;height:100%;font-size: 20px;}
.sd-mm-list{padding: 10px 20px;}
.sd-mm-list li:not(:last-child){margin-bottom: 14px;}
.sd-mm-list a{position:relative;display:block;font-size: 15px;color:#303133;}
.sd-mm-list a i{margin-right:6px;color:#909399}
.sd-mm-list a > span{display:inline-block;position:absolute;right:0;top:0;font-size:12px}
.sd-mm-list a > span > i{-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);}
.sd-mm-list li ul{margin:10px 0 0 23px}
.sd-mm-list li ul li{margin-bottom: 8px !important;}
.sd-mm-list li ul a{font-size: 14px;}

#content{padding:91px 10px 10px;}
.tit-area{position:fixed;left:0;top:53px;z-index:100;width:100%;padding:8px 0 0 10px;background: rgb(246, 247, 248);color: rgb(32, 37, 91);}
.tit-area>h1{padding-bottom:5px;border-bottom:1px solid rgb(211, 216, 221);font-size: 16px;}
.top-right-btn{padding:5px 0;text-align:right}
.formline>.section:first-child{margin-top: 0;}
.section{margin-top:10px;padding:10px 5px;border-style:solid;border-width:1px;border-color:#9ab9dc #d2d5d6 #d2d5d6 #d2d5d6;border-radius:8px;background:#fff}
.section.bg{padding:10px;background: #f9fbfc ;}
.el-row:after{display: block;content: '';clear: both;}
.w-auto{width:auto}
.w-auto th{padding:0 10px 0 12px;white-space: nowrap;}
.w-auto td{white-space: nowrap;}
.search-input{font-size:0}
.search-input input[type=text]{border-top-right-radius: 0;border-bottom-right-radius: 0;font-size:14px}
.search-input button{width:42px;height:32px;margin-left:-1px;border-radius:0 4px 4px 0;border:1px solid #d7d7d7;background:#f5f7fa;}
.search-input button>i{color: #409EFF;font-weight: 700;font-size: 14px;}
.required{color: #ed4014;}
.dat-pk, .time-box, .tm-in, .time_pick{display: inline-block;vertical-align: middle;}
.timepicker_wrap{width: 182px;}
.dat-pk, .tm-in{position:relative}
.tm-in i {position:absolute;left:8px;top:10px;z-index:10}
.dat-pk i {position:absolute;left:8px;top:10px;z-index:10}
input.timepicki-input{font-weight:700;color:#333}
.time_pick .timepicker{padding-left: 27px;}
.dat-pk .datepicker{padding-left: 30px;}
.tac input{text-align: center;}
.red-bg input{background: #f4f4f4;}
.t-min{display: inline-block;vertical-align:top;font-size:14px}
span.readonly{display: inline-block;width:50px;border-radius: 4px;border: 1px solid #DCDFE6;height: 32px;line-height: 32px;font-size: 13px;color: #606266;padding: 0 8px;background: #f4f4f4;text-align:center}
.ck-bx{display:inline-block;margin-right: 10px;}
.el-radio__input{margin-right:3px}
.etc-txt{display: inline-block;vertical-align: middle;}
.sec-inr{float:left;width:45.83333%}
.el-card_header{padding:5px 10px;border-radius:8px 8px 0 0;border-bottom:1px solid #e6ecf0;background:#F9FBFC}
.el-card_header>h2{font-size:14px;color: #222;}
.pdn{padding:0 !important}
.el-card_body{padding: 10px 12px;}
.wr-form th{text-align: right;font-size:14px;font-weight:400;color:#333;}
.wr-form td{padding:4px 3px}
.gen-check{font-size:0}
.gen-check>span, .gen-check label{display: inline-block;width:43px}

.cn-arw{float: left;width: 8.33333%;padding-top:62px;text-align: center;}
.el-inp{display: inline-block;vertical-align:middle}
.mgr3{margin-right: 3px;}
.row{float: left;width: 50%;}
.el-tag{display: inline-block;width: 120px;height:31px;padding:0 8px;border-radius:4px;line-height: 31px;background-color: #f4f4f5;border:1px solid #e9e9eb;color: #909399;font-size:12px}
.el-tag-danger{display: inline-block;width: 60px;height:31px;padding:0 8px;border-radius:4px;line-height: 31px;background-color: #fef0f0;border:1px solid #fde2e2;color: #909399;font-size:12px;text-align: center;color: #f56c6c;}
.txt-center{text-align: center !important}
.sig-form th{padding-right:10px;text-align: right;vertical-align: top}
.layerpopup{display:none;position: fixed;left:0;top:0;z-index: 1000;width: 100%;height:100%;background:rgba(0,0,0,.5)}
.layerpopup .popup{position:relative;margin:0 auto 50px;margin-top:14vh;width: 1000px;background: #fff;}
.layerpopup .pop-header{position:relative;padding: 12px 20px 10px;background: #1FC7C1 ;}
.layerpopup .pop-header > span{font-size:18px;color:#fff}
.layerpopup .pop-header > button{position:absolute;right:0;top:0;width:50px;height:100%;color:#fff}
.layerpopup .pop-content{max-height:calc(100vh - 307px);overflow-y:auto;padding:10px 20px}
.dsp-ibk{display: inline-block;vertical-align: middle;}
.result-list{margin-top:10px}
.table-box{position: relative;}
.table-box:before{display: block;content: '';position: absolute;left: 0;bottom: 0;width: 100%;height:1px;background: #E0E0E0;}
.el-table_header-wrapper{position:relative;border-style: solid;border-width: 2px 1px 1px 1px;border-color: #6BB5EA #E0E0E0 #E0E0E0 #E0E0E0;background: #f5f7fa;}
.el-table_header-wrapper th{padding:7px 0;border-right:1px solid #E0E0E0}
.el-table_header-wrapper tr th:last-child{border-right: 0;}
.el-table_body-wrapper{position:relative;overflow-y:auto;border-style:solid;border-width: 0 1px 0 1px;border-color:#E0E0E0}
.el-table_body-wrapper td{padding:7px 5px;border-bottom:1px solid #E0E0E0;border-right:1px solid #E0E0E0;border-top:1px solid #E0E0E0;text-align: center;}
.el-table_body-wrapper tr:hover > td{background: #F0FAFF;transition: background-color .25s ease;}
.el-table_body-wrapper tr td:last-child{border-right:0}
.el-table_body-wrapper tr:first-child td{border-top: 0;}

.cell{-webkit-box-sizing: border-box;box-sizing: border-box;overflow: hidden;text-overflow: ellipsis;white-space: normal;word-break: break-all;line-height: 23px}
.paging{margin-top:12px;text-align:center}
.paging > a{display: inline-block;width:30px;height:28px;margin:0 3px;border-radius:2px;line-height:28px;background:#f4f4f5;vertical-align: middle;text-align:center}
.paging .active{background:#409EFF;color:#fff;font-weight:500}
.el-dialog__footer{padding:25px 20px 20px;text-align: center;}
.section-sha{margin-top:5px;background: #FFF;border: 1px solid #DCDFE6;-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);}
.el-tabs_content{padding: 15px;}
.in-tab-btn{text-align: right;}
.tab-tb-box{margin-top:5px}
.row_link{font-weight: 400;color: #0366d6;}
.no-data{height:130px;line-height:130px;text-align: center;font-size:15px;font-weight:400}
.v-top{vertical-align: top;padding-top:7px !important}
.bottom-form{margin-top: 5px;}
.wr-table{border:1px solid #E0E0E0}
.wr-table thead{background: #F5F7FA;font-weight: 500;color: #333;}
.wr-table thead th{padding:5px;border-right:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0}
.wr-table tbody th, .wr-table tbody td{padding: 5px;border-right:1px solid #E0E0E0;border-bottom:1px solid #E0E0E0;text-align: center;}
.row2{float: left;width: 50%;padding: 5px;}
.row2:last-child{padding: 5px 0 0 5px;}
.multi-table{margin-top: 5px;}
.count-number{display: inline-block;position:relative;width: 80px;}
.count-number input{padding-left:20px}
.count-number a{display: inline-block;position: absolute;right: 0;width: 33px;height: 16px;font-size: 13px;text-align: center;line-height: 16px;}
.count-number .up{top:0;background: #f5f7fa;border-radius: 0 4px 4px 0;border-top: 1px solid #d7d7d7;border-right: 1px solid #d7d7d7;border-left: 1px solid #d7d7d7;}
.count-number .down{bottom:0;background: #f5f7fa;border-radius: 0 4px 4px 0;border-bottom: 1px solid #d7d7d7;border-right: 1px solid #d7d7d7;border-left: 1px solid #d7d7d7;}
.txt-left{text-align: left !important}
.mt0{margin-top: 0 !important;}
.week-pg:after{display: block;content: '';clear: both;}
.week-pg .l{float: left;width: 37.5%;padding: 0 5px 0 5px;}
.week-pg .r{float: left;width: 62.5%;padding: 0 5px 0 5px;}
.center-pg:after{display: block;content: '';clear: both;}
.center-pg .l{float: left;width: 50%;padding: 0 5px 0 5px;}
.center-pg .r{float: left;width: 50%;padding: 0 5px 0 5px;}
.mgt5{margin-top: 5px !important}
.mgt10{margin-top: 10px;background: #fff;}
.text{display: inline-block;margin-left: 8px;vertical-align: middle;}
.v-md{vertical-align: middle !important;}
.RegRlsPopUp{width: 765px !important;}
.wh-box{margin-top:10px}
.wh-box .tt-bx{color:#333;font-weight:400}
.file-down-list{overflow: hidden;}
.file-down-list > li{float: left;text-align: center;width: 33.3%;}
.mgn{margin: 0 !important;}
.bg-sky{background: #f9fbfc !important;}
.bg-og{background: rgb(230, 162, 60);}
.bg-pk{background: rgb(240, 235, 235);}
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: .5s;

    animation-direction: normal ;
    animation-fill-mode:both
  }

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: .4s;

    animation-direction: normal ;
    animation-fill-mode:both
}

.SumoSelect p {margin: 0;}
.SumoSelect{width: 200px;}

.SelectBox {padding: 5px 8px;}

.sumoStopScroll{overflow:hidden;}

/* Filtering style */
.SumoSelect .hidden { display:none; }
.SumoSelect .search-txt{display:none;outline:none;}
.SumoSelect .no-match{display:none;padding: 6px;}
.SumoSelect.open .search-txt{display: inline-block;position: absolute;top: 0;left: 0;width: 100%;margin: 0;padding: 5px 8px;border: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-radius: 5px;}
.SumoSelect.open>.search>span, .SumoSelect.open>.search>label{visibility:hidden;}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass,.SumoUnder { position: absolute; top: 0; left: 0; right: 0; height: 100%; width: 100%; border: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
.SelectClass{z-index: 1;}
.SumoSelect > .optWrapper > .options  li.opt label, .SumoSelect > .CaptionCont,.SumoSelect .select-all > label { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.SumoSelect { display: inline-block; position: relative;outline:none;}
.SumoSelect:focus > .CaptionCont,.SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont {box-shadow: 0 0 2px #7799D0;border-color: #7799D0;}
.SumoSelect > .CaptionCont { position: relative; border: 1px solid #d7d7d7;border-radius:4px !important; min-height: 14px; background-color: #fff;border-radius:2px;margin:0;display:inline-block;vertical-align:middle}
.SumoSelect > .CaptionCont > span { display: block; padding-right: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;cursor:default;}
/*placeholder style*/
.SumoSelect > .CaptionCont > span.placeholder {padding-left:7px}

.SumoSelect > .CaptionCont > label { position: absolute; top: 0; right: 0; bottom: 0; width: 30px;}
.SumoSelect > .CaptionCont > label > i {display:block;width:30px;height:32px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAANklEQVQYV2NMS0v7P2vWLEYGHAAkzwgiQPLYFMLkwCZgU4gsBrcGWRBdE4pbYJLo1mM4GJtHABQNJGmJvT6rAAAAAElFTkSuQmCC);background-repeat: no-repeat;background-position:50% 50%}

.SumoSelect > .optWrapper {display:none; z-index: 1000; top: 30px; width: 100%; position: absolute; left: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; border: 1px solid #ddd; box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11); border-radius: 3px;overflow: hidden;}
.SumoSelect.open > .optWrapper {top:35px; display:block;}
.SumoSelect.open > .optWrapper.up {top: auto;bottom: 100%;margin-bottom: 5px;}

.SumoSelect > .optWrapper ul {list-style: none; display: block; padding: 0; margin: 0; overflow: auto;}
.SumoSelect > .optWrapper > .options { border-radius: 2px;position:relative;
/*Set the height of pop up here (only for desktop mode)*/
max-height: 250px;
/*height*/ }
.SumoSelect > .optWrapper.okCancelInMulti > .options { border-radius: 2px 2px 0 0;}
.SumoSelect > .optWrapper.selall > .options { border-radius: 0 0 2px 2px;}
.SumoSelect > .optWrapper.selall.okCancelInMulti > .options { border-radius: 0;}
.SumoSelect > .optWrapper > .options li.group.disabled > label{opacity:0.5;}
.SumoSelect > .optWrapper > .options li ul li.opt{padding-left: 22px;}
.SumoSelect > .optWrapper.multiple > .options li ul li.opt{padding-left: 50px;}
.SumoSelect > .optWrapper.isFloating > .options {max-height: 100%;box-shadow: 0 0 100px #595959;}
.SumoSelect > .optWrapper > .options  li.opt { padding: 6px 6px; position: relative;border-bottom: 1px solid #f5f5f5;}
.SumoSelect > .optWrapper > .options > li.opt:first-child { border-radius: 2px 2px 0 0; }
.SumoSelect > .optWrapper.selall > .options > li.opt:first-child { border-radius:0; }
.SumoSelect > .optWrapper > .options > li.opt:last-child {border-radius: 0 0 2px 2px; border-bottom: none;}
.SumoSelect > .optWrapper.okCancelInMulti > .options > li.opt:last-child {border-radius: 0;}
.SumoSelect > .optWrapper > .options li.opt:hover { background-color: #E4E4E4; }
.SumoSelect > .optWrapper > .options li.opt.sel, .SumoSelect .select-all.sel{background-color: #a1c0e4;}

.SumoSelect > .optWrapper > .options li label { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;cursor: pointer;}
.SumoSelect > .optWrapper > .options li span { display: none; }
.SumoSelect > .optWrapper > .options li.group > label {cursor: default;padding: 8px 6px;font-weight: bold;}

/*Floating styles*/
.SumoSelect > .optWrapper.isFloating { position: fixed; top: 0; left: 0; right: 0; width: 90%; bottom: 0; margin: auto; max-height: 90%; }

/*disabled state*/
.SumoSelect > .optWrapper > .options li.opt.disabled { background-color: inherit;pointer-events: none;}
.SumoSelect > .optWrapper > .options li.opt.disabled * { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */ filter: alpha(opacity=50); /* Netscape */ -moz-opacity: 0.5; /* Safari 1.x */ -khtml-opacity: 0.5; /* Good browsers */ opacity: 0.5; }


/*styling for multiple select*/
.SumoSelect > .optWrapper.multiple > .options li.opt { padding-left: 35px;cursor: pointer;}
.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span{position:absolute;display:block;width:30px;top:0;bottom:0;margin-left:-35px;}
.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i{position: absolute;margin: auto;left: 0;right: 0;top: 0;bottom: 0;width: 14px;height: 14px;border: 1px solid #AEAEAE;border-radius: 2px;box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);background-color: #fff;}
.SumoSelect > .optWrapper > .MultiControls { display: none; border-top: 1px solid #ddd; background-color: #fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.13); border-radius: 0 0 3px 3px; }
.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls { display: block; margin-top: 5px; position: absolute; bottom: 0; width: 100%; }

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls { display: block; }
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p { padding: 6px; }
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p:focus {box-shadow: 0 0 2px #a1c0e4;border-color: #a1c0e4;outline: none;background-color: #a1c0e4;}

.SumoSelect > .optWrapper.multiple > .MultiControls > p { display: inline-block; cursor: pointer; padding: 12px; width: 50%; box-sizing: border-box; text-align: center; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover { background-color: #f1f1f1; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { border-right: 1px solid #DBDBDB; border-radius: 0 0 0 3px; }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel { border-radius: 0 0 3px 0; }
/*styling for select on popup mode*/
.SumoSelect > .optWrapper.isFloating > .options li.opt { padding: 12px 6px; }

/*styling for only multiple select on popup mode*/
.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt { padding-left: 35px; }
.SumoSelect > .optWrapper.multiple.isFloating { padding-bottom: 43px; }

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i{background-color: rgb(64, 158, 255);box-shadow: none;border-color: transparent;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-position: center center;}
/*disabled state*/
.SumoSelect.disabled { opacity: 0.7;cursor: not-allowed;}
.SumoSelect.disabled > .CaptionCont{border-color:#ccc;box-shadow:none;}

/**Select all button**/
.SumoSelect .select-all{border-radius: 3px 3px 0 0;position: relative;border-bottom: 1px solid #ddd;background-color: #fff;padding: 8px 0 3px 35px;height: 20px;cursor: pointer;}
.SumoSelect .select-all > label, .SumoSelect .select-all > span i{cursor: pointer;}
.SumoSelect .select-all.partial > span i{background-color:#ccc;}


/*styling for optgroups*/
.SumoSelect > .optWrapper > .options li.optGroup { padding-left: 5px; text-decoration: underline; }


  @keyframes pw-fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);opacity: 0
    }
  }

  @keyframes pw-fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);opacity: 1
    }
  }

  @keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);opacity: 0
    }
  }

  @keyframes fadeInDown {
    0% {
        -webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);opacity: 0
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);opacity: 1
    }
  }


.login_wrap {
  width: 100vw;
  height: 100vh;
  background: url("../images/bg_login.jpg") repeat center;
  overflow-x: hidden;
}
.login_wrap .login_box {
  position: relative;
  height: inherit;
  padding-top: 169px;
  margin: 0 auto;
  width: 284px;
  min-height: 600px;
  text-align: center;
}
.login_wrap .login_box .logo {
  margin-bottom: 31px;
}
.login_wrap .login_box .commont {
  background: url("../images/bg_logo_bar.png") no-repeat top 0 center;
  padding-top: 16px;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
}
.login_wrap .login_box .input_box {
  width: 270px;
  margin-top: 26px;
}
.login_wrap .login_box .input_box .id_box {
  margin-bottom: 5px;
  border: solid 1px #1c2437;
  background: url("../images/ico_id.png") no-repeat center left 0;
  background-color: #fff;
}
.login_wrap .login_box .input_box .id_box input {
  background: transparent;
  padding: 0 18px 0 38px;
  width: 100%;
  height: 34px;
  font-size: 12px;
}
.login_wrap .login_box .input_box .pw_box {
  margin-bottom: 5px;
  border: solid 1px #1c2437;
  background: url("../images/ico_pw.png") no-repeat center left 0;
  background-color: #fff;
}
.login_wrap .login_box .input_box .pw_box input {
  padding: 0 18px 0 38px;
  width: 100%;
  height: 34px;
  background: transparent;
  font-size: 12px;
}
.login_wrap .login_box .login_btn {
  display: block;
  width: 270px;
  height: 36px;
  line-height: 36px;
  background: url("../images/login_btn_bg.png") no-repeat center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-shadow: 1px 1px #1e1f23;
}
.login_wrap .copy {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 51px;
  color: #dadce0;
}